:root {
    --Orange: hsl(25, 97%, 53%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Blue_boss: rgb(22, 72, 99);
    --Dark_Blue: hsl(213, 19%, 24%);
    --Dark_Blue_light: hsl(213, 19%, 29%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very_Dark_Blue);
    color:  white;
    display: flex;
    justify-content: center;
}
.card{
    width: 24rem;
    height: 24rem;
    background-color:  rgba(33,40,50,255);
    /* background-image: linear-gradient(hsl(216, 12%, 8%), hsl(213, 19%, 24%) ); */
    border-radius: 2rem; 
    z-index: 1; 
    margin-top:13rem;
}
.card-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
}
img{
    padding: 0.8rem 0 0 0.85rem ;
}
.star{
    background-color: rgba(40,48,58,255) ;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 2rem;
}
.raiting_button{
    display: flex;
    justify-content: space-between;
}
.button_1, .button_2, .button_3, .button_4, .button_5{
    color: var(--Light_Grey);
    font-family: 'Overpass', sans-serif;
    background-color: rgba(40,48,58,255);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.15s;
}
.button_1:hover, .button_2:hover, .button_3:hover, .button_4:hover, .button_5:hover{
    background-color: var(--Medium_Grey);
}
.button_1:active, .button_2:active, .button_3:active, .button_4:active, .button_5:active{
    background-color:var(--Orange) ;
}
.submit_button{
    padding:  1rem 0.5rem 0.7rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    border:none;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color:var(--Orange);
    cursor: pointer;
    transition: color 0.15s ,background-color 0.15s;
}
.submit_button:active{
    color: var(--Orange);
    background-color: white;
}
.description{
    font-weight: 100;
    color: var(--Medium_Grey);
    line-height: 1.3rem;
}

